#Projects {
  background: var(--color-grey);
  color: var(--color-white);
  height: 120vh;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.mySwiper {
  height: 450px;
  width: 10%;
  overflow: hidden !important;
}
.swiper {
  width: 85%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.slider-controler {
  background: transparent;
  display: flex !important;
  justify-content: space-around !important;
}

.controle-btn {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.swiper-button {
  display: flex;
  background: white;
  padding: 0.3rem;
  border-radius: 0.5rem;
  color: black;
}

.swiper-button-next {
  transform: translateY(-32px);
  z-index: 2;
}

.swiper-button-prev {
  transform: translateY(-32px);
  z-index: 2;
}

.swiper-pagination {
  background: yellow;
}

.swiper-slide {
  flex-shrink: 5 !important;
  width: 100% !important;
  height: 0 !important;
}

/* Mobile Responsive Design for Teblet */
@media (max-width: 1024px) {
  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .card-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
  }
}

/* Styles for regular-sized mobile devices */
@media (max-width: 768px) {
}

/* Styles for small-sized mobile devices */
@media (max-width: 480px) {
}
