.card {
  width: 190px;
  height: 150px;
  background: yellow;
  border-radius: 2rem;
  margin: auto;
  text-align: center;
  color: var(--color-white);
  background: var(--color-grey);
  box-shadow: 0px 0px 40px 1px rgba(247, 255, 1, 0.5);
}

.project-count {
  transform: translateY(202%);
  z-index: -1;
}
.projects-done {
  font-size: 0.8rem;
  color: var(--color-yello);
}
.skill-name {
  font-size: 1.1rem;
}

.icon-card {
  border-radius: 2rem;
  background-color: var(--color-black);
  width: 190px;
  height: 150px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: var(--transition-main);
  z-index: 20;
  transform: translateY(-50%) scale(1.1);
}

.card-image {
  padding: 2rem;
  justify-content: center;
}

.card:hover .icon-card {
  transform: scale(0.5) translateY(-94%);
}

/* Mobile Responsive Design for Teblet */
@media (max-width: 1024px) {
  .card {
    width: 150px;
    height: 140px;
  }
  .icon-card {
    width: 150px;
    height: 140px;
    transition: var(--transition-main);
    z-index: 20;
    transform: translateY(-52%);
  }
  .card:hover .icon-card {
    transform: scale(0.5) translateY(-102%);
  }
  .project-count {
    transform: translateY(160%);
    z-index: -1;
  }
  .card-image {
    padding: 1.5rem;
    justify-content: center;
  }
}

/* Styles for regular-sized mobile devices */
@media (max-width: 768px) {
  .card {
    width: 130px;
    height: 120px;
  }
  .icon-card {
    width: 130px;
    height: 120px;
    transform: translateY(-60%);
  }
  .project-count {
    transform: translateY(125%);
    z-index: -1;
  }
  .card-image {
    padding: 1.2rem;
    justify-content: center;
  }
  .card:hover .icon-card {
    transform: scale(0.5) translateY(-113%);
  }
}

/* Styles for small-sized mobile devices */
@media (max-width: 480px) {
  .card {
    width: 110px;
    height: 110px;
  }
  .icon-card {
    width: 110px;
    height: 110px;
  }
  .card-image {
    padding: 1rem;
    justify-content: center;
  }
  .icon-card {
    transform: translateY(-67%);
  }
  .project-count {
    transform: translateY(100%);
    z-index: -1;
  }
  .card:hover .icon-card {
    transform: scale(0.48) translateY(-132%);
  }
}
