@tailwind base;
@tailwind components;
@tailwind utilities;

/**********************************************/
/****************GLOBAL STYELS ****************/
/**********************************************/

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent; 
}
body{
  background-color: #000;
}


/**********************************************/
/****************SECTION STYLES ****************/
/**********************************************/
#home, #about, #contact, #experience, #projects, #skills{
z-index: 20;
position: relative;
}

/**********************************************/
/****************PRELOADER ****************/
/**********************************************/
.boxes{
  position: fixed;
  z-index: 50;
  background-color: black;
  min-height: 100vh;
  width: 100%;
  display: flex;
  gap: 2px;
  pointer-events: none;
}

.boxes .box{
  position: relative;
  z-index: 50;
  background-color: white;
  min-height: 100vh;
  width: 100%;
  pointer-events: none;
}


/**********************************************/
/****************CUSTOM CURSOR****************/
/**********************************************/
.custom-cursor{
  z-index: 21;
}



/**********************************************/
/****************NAV ITEMS****************/
/**********************************************/

.navbar{
  mix-blend-mode: difference;
}


.nav-item{
  will-change: background-color, color;
  /* background: linear-gradient(to right, #F72C5B 50%, #fff 50%); */
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: bold;
  transition: all ease 1s;
  mix-blend-mode: difference;
} 

.nav-item:hover  {
  background-position-x: 0%;
}

