@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent; 
}
body{
  background-color: #000;
}




.nav-item{
  will-change: background-color, color;
  background: linear-gradient(to right, #EBF400 50%, #ffffff 50%);
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: bold;
  transition: all ease 1s;
  mix-blend-mode: difference;
} 

.nav-item:hover  {
  background-position-x: 0%;
}


.navbar{
  mix-blend-mode: difference;

}

/* 
.nav-text{
  mix-blend-mode: difference;
  color: white;
  background-color: black;
}
.nav-text-copy{
  mix-blend-mode: difference;
  color: black;
  background-color: white;

} */