#About {
  background: var(--color-grey);
  color: var(--color-white);
  height: auto;
}

.contant {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.image-container {
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
}
img {
  width: 100%;
  height: 100%;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.button-div {
  padding: 0 1rem 0 1rem;
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}
/* Tablet Responsive Design */
@media (max-width: 1024px) {
  .contant {
    display: grid;
    grid-template-columns: 1fr;
  }

  .image-container {
    margin: 0 auto 3rem auto;
  }

  .text-container {
    width: 95%;
    margin: auto;
    text-align: justify;
  }

  .button-div {
    margin: auto;
    padding: 0;
    gap: 0.5rem;
  }
}

/* Mobile Responsive Design */
@media (max-width: 768px) {
  .content {
    width: 95%;
    margin: auto;
  }

  .image-container {
    margin: 0 auto 3rem auto;
  }

  .text-container {
    width: 95%;
    margin: auto;
    text-align: justify;
  }

  .button-div {
    margin-top: 2rem;
    margin: auto;
  }
  .btn-icon {
    display: none;
  }
}

/* Styles for small-sized mobile devices */
@media (max-width: 480px) {
  .button-div {
    width: 100%;
    margin-top: 2rem;
    margin: auto;
  }
}
