#About {
  background: var(--color-grey);
  color: var(--color-white);
  height: 100vh;
}

.contant {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr;
}

.image-container {
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
}

img {
  width: 100%;
  height: 100%;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.text-container {
  font-family: Poppins;
  font-weight: 300;
  color: var(--color-white-light);
}

.button-div {
  padding: 0 1rem 0 1rem;
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}
.btn-icon {
  transform: translateY(-2px);
}

/* Tablet Responsive Design */
@media (max-width: 1024px) {
  #About {
    height: auto;
  }

  .contant {
    width: 100%;
    grid-template-columns: 1fr;
    margin: auto;
  }

  .image-container {
    margin: 0 auto 3rem auto;
  }

  .text-container {
    width: 100%;
    margin: auto;
    text-align: justify;
  }

  .button-div {
    margin: auto;
    padding: 0;
    gap: 0.5rem;
  }
}

/* Mobile Responsive Design */
@media (max-width: 768px) {
  .content {
    margin: auto;
    padding: 2rem;
    text-align: center; /* Center the content horizontally */
  }

  .image-container {
    margin: 0 auto 3rem auto;
  }

  .text-container {
    margin: auto;
    text-align: justify;
  }

  .button-div {
    margin-top: 2rem;
    margin: auto;
  }

  .btn-icon {
    display: none;
  }
  .btn-btn {
    border-radius: 0.5rem;
    padding: 0.8rem 0.4rem;
    width: 8rem;
    gap: 0.6rem;
  }
}

/* Styles for small-sized mobile devices */
@media (max-width: 480px) {
  .button-div {
    margin-top: 2rem;
    margin: auto;
  }
}
