@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --dark: #e8e6e3;
  --darkLighter: #dadada;
  --light: #181a1b;
  --lightDarker: #746463;
  --accentRgb: 0,24,204;
  --accent: rgb(0,24,204);
  --shadowColor: rgba(0,0,0,.35);

}



@media (prefers-color-scheme: dark) {
  :root {
    --dark: #181a1b;
    --darkLighter: #242424;
    --light: #e8e6e3;
    --lightDarker: #848484;
    --accent: #67fd67;
    --shadowColor: rgba(0,0,0,.75);
}
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
