@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #e8e6e3;
  --darkLighter: #dadada;
  --light: #181a1b;
  --lightDarker: #746463;
  --accentRgb: 0,24,204;
  --accent: rgb(0,24,204);
  --lightRgb: 24,26,27;
  --darkRgb: 232,230,227;
  --shadowColor: rgba(0,0,0,.35);
  --shadow: 0 0px 5px rgba(0,0,0,.35);
  --shadowLifted: 0 3px 15px rgba(0,0,0,.35);
}

@media (prefers-color-scheme: dark) {
  :root {
    --dark: #181a1b;
    --darkLighter: #242424;
    --light: #e8e6e3;
    --lightDarker: #848484;
    --accent: #67fd67;
    --lightRgb: 232,230,227;
    --accentRgb: 103,253,103;
    --darkRgb: 24,26,27;
    --shadowColor: rgba(0,0,0,.75);
    --shadow: 0 0px 10px rgba(0,0,0,.75);
    --shadowLifted: 0 5px 20px rgba(0,0,0,.75);
}
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
