#Home {
  background: var(--color-black);
  color: var(--color-white);
}

/* Home Section Design*/

.head-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(50%);
}

.profile-img-div {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.profile-img {
  width: 100%;
}

div h2 {
  font-size: 1.8rem;
}

h2 span {
  color: var(--color-yello);
}

p span {
  color: var(--color-yello);
}

/* Socail Media and Scrol Down Design */

.icon-and-text {
  display: flex;
  position: absolute;
  bottom: 6rem;
  flex-direction: column;
  gap: 4rem;
}
.header-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.header-socials a {
  display: flex;
  align-items: center;
  background: rgba(97, 97, 97, 0.884);
  padding: 0.3rem;
  color: var(--color-white);
  font-size: 0.7rem;
  border-radius: 1rem;
}

.header-socials a:hover {
  background-color: var(--color-white);
  transition: var(--transition-main);
}

.header-socials a:hover .linkedin-icon {
  color: #0a66c2;
  transition: var(--transition-main);
}

.header-socials a:hover .github-icon {
  color: #333333;
}

.header-socials a:hover .youtube-icon {
  color: #ff0000;
}
.header-socials a:hover .twitter-icon {
  color: #1da1f2;
}

.header-socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-white);
}

.scroll-down {
  font-family: "Poppins", sans-serif;
  transform: rotate(90deg);
  left: 0;
  align-items: center;
}

.scroll-down a {
  font-family: "Poppins", sans-serif;
  color: var(--color-white);
  font-size: 1rem;
}

/* Mobile Responsive Design for Teblet */
@media (max-width: 1024px) {
  .icon-and-text {
    display: none;
  }
  .home-container {
    margin: auto;
  }
}

/* Styles for regular-sized mobile devices */
@media (max-width: 768px) {
}

/* Styles for small-sized mobile devices */
@media (max-width: 480px) {
}
