#Contact {
  background: var(--color-black);
  color: var(--color-white);
  height: 100vh;
}

.contact-container {
  padding: 0 15%;
}
.contact-content {
  background: var(--color-grey);
  padding: 1rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5rem;
  margin: auto;
  justify-content: center;
}
.contact-title {
  text-align: center;
  color: var(--color-yello);
}

.social-contact {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.social-contact-btn {
  display: flex;
  background: var(--color-black);
  padding: 0.1rem 0.5rem;
  border-radius: 0.5rem;
  width: 200px;
  height: 40px;
  justify-content: center;
}

.social-contact-btn a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-white);
}

.social-main {
  font-size: 1rem;
}

.social-secend {
  font-size: 0rem;
}

.whatsapp {
  color: var(--color-white);
  background: #25d366;
  transition: var(--transition-main);
}

.whatsapp:hover .social-main {
  display: none;
  transition: var(--transition-main);
}
.whatsapp:hover .social-secend {
  font-size: 0.9rem;
  transition: var(--transition-main);
}

.email-me {
  background: #ea4335;
}

.email-me:hover .social-main {
  display: none;
  transition: var(--transition-main);
}
.email-me:hover .social-secend {
  font-size: 0.9rem;
  transition: var(--transition-main);
}

.facebook {
  background: #0099ff;
}

.facebook:hover .social-main {
  display: none;
  transition: var(--transition-main);
}
.facebook:hover .social-secend {
  font-size: 0.9rem;
  transition: var(--transition-main);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem 0 0 0;
}
input {
  height: 2rem;
}

textarea:focus-visible {
  outline: none;
  border-bottom: 1px solid yellow;
}
input:focus-visible {
  outline: none;
  border-bottom: 1px solid yellow;
}

input,
textarea {
  width: 80%;
  border-radius: 0.5rem;
  background: var(--color-black);
  color: rgb(118, 118, 118);
  padding: 0.3rem;
  border-style: none;
}

.send-icon {
  display: flex;
  justify-content: center;
}

.btn-icon-contact {
  transform: translateY(3px);
  margin-right: 4px;
}

/* Mobile Responsive Design for Teblet */
@media (max-width: 1024px) {
  .contact-container {
    padding: 0 2%;
  }
  #Contact {
    height: auto;
  }
}

/* Styles for regular-sized mobile devices */
@media (max-width: 768px) {
  .contact-container {
    padding: 0 2%;
  }
  .contact-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .contact-title {
    display: none;
  }
  .social-contact {
    width: 90%;
    flex-direction: row;
    padding: 0.1rem 0.1rem;
  }

  .social-main {
    display: none;
  }
  .social-secend {
    display: none;
  }
  .whatsapp:hover {
    scale: 0.9;
  }

  .email-me:hover {
    scale: 0.9;
  }

  .facebook:hover {
    scale: 0.9;
  }
  .send-icon {
    font-size: 1.5rem;
  }

  input {
    height: 3rem;
  }
  input,
  textarea {
    width: 98%;
  }
}

/* Styles for small-sized mobile devices */
@media (max-width: 480px) {
  .social-contact-btn {
    width: 100px;
    height: 25px;
    padding: 0.05rem 0.5rem;
    display: flex;
    flex-direction: row;
    padding: 0.1rem 0.1rem;
  }
  .social-contact-btn {
    width: 90%;
    height: 25px;
    padding: 0.05rem 0.5rem;
    display: flex;
    flex-direction: row;
    padding: 0.1rem 0.1rem;
  }

  .social-main {
    display: none;
  }
  .social-secend {
    display: none;
  }
  .whatsapp:hover {
    scale: 0.9;
  }

  .email-me:hover {
    scale: 0.9;
  }

  .facebook:hover {
    scale: 0.9;
  }
  .send-icon {
    font-size: 0.9rem;
  }
}
