#footer {
  background: var(--color-grey);
  height: 90px !important;
  color: var(--color-white);
  text-align: center;
  padding: 1rem !important;
}

.footer-socials {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.footer-socials a {
  font-size: 1.2rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
  display: flex;
  color: var(--color-yello);
  background: black;
  transition: var(--transition-main);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-icon {
  display: flex;
}

.footer-container p {
  margin-top: 0.5rem;
  color: var(--color-white-light);
  font-size: small;
}

.footer-socials a:hover {
  scale: 1.1;
}

.footer-socials a:hover {
  background-color: var(--color-white);
  transition: var(--transition-main);
}

.footer-socials a:hover .linkedin-icon {
  color: #0a66c2;
}

.footer-socials a:hover .github-icon {
  color: #333333;
}

.footer-socials a:hover .youtube-icon {
  color: #ff0000;
}
.footer-socials a:hover .twitter-icon {
  color: #1da1f2;
}

/* Mobile Responsive Design for Teblet */
@media (max-width: 1024px) {
  #footer {
    padding: 1rem 0 9rem 0 !important;
    height: 50px !important;
  }
}

/* Styles for regular-sized mobile devices */
@media (max-width: 768px) {
  #footer {
    height: 90px !important;
  }
}

/* Styles for small-sized mobile devices */
@media (max-width: 480px) {
}
