* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --color-black: #020202;
  --color-grey: #252525;
  --color-yello: #ffb800;
  --color-white: #fff;
  --color-sub-light: #e3f6f5;
  --color-main-light: #bae8e8;
  --main-font: 2rem;
  --sub-font: 1rem;
  --pra-font: 0.7rem;
}

section {
  background: var(--color-main);
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  padding: 6%;
}

/* Mobile Responsive Design for Teblet */
@media (max-width: 1024px) {
  .mobile-menu {
    display: block;
  }
}

/* Styles for regular-sized mobile devices */
@media (max-width: 768px) {
  .mobile-menu {
    display: block;
  }
}

/* Styles for small-sized mobile devices */
@media (max-width: 480px) {
  .mobile-menu {
    display: block;
  }
}
