* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
}

li {
  list-style: none;
}

:root {
  --color-main: #272343;
  --color-sub: #ffffff;
  --color-sub-light: #e3f6f5;
  --color-main-light: #bae8e8;
  --main-font: 2rem;
  --sub-font: 1rem;
  --pra-font: 0.7rem;
}

section {
  background: var(--color-main);
  height: 50vh;
}

html {
  scroll-behavior: smooth;
}

/* Mobile Responsive Design for Teblet */
@media (max-width: 1024px) {
  .container {
    width: 100%;
  }
}

/* Styles for regular-sized mobile devices */
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}

/* Styles for small-sized mobile devices */
@media (max-width: 480px) {
  .container {
    width: 100%;
  }
}
