@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --color-black: #020202;
  --color-grey: #252525;
  --color-yello: #ffb800;
  --color-white: #fff;
  --color-sub-light: #e3f6f5;
  --color-main-light: #bae8e8;
  --transition-main: all ease 0.3s;
}

section {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  padding: 5.5% 5.5%;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
}

/* Mobile Responsive Design for Teblet */
@media (max-width: 1024px) {
}

/* Styles for regular-sized mobile devices */
@media (max-width: 768px) {
}

/* Styles for small-sized mobile devices */
@media (max-width: 480px) {
}
