@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --color-black: #020202;
  --color-grey: #252525;
  --color-yello: #ffb800;
  --color-white: #fff;
  --color-sub-light: #e3f6f5;
  --color-main-light: #bae8e8;
  --transition-main: all ease 0.3s;
}

section {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  padding: 6% 6%;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
}

.title {
  text-align: center;
  color: var(--color-yello);
  margin-bottom: 3rem;
}

/* Button */

button {
  color: var(--color-yello);
  border: 1px solid #000;
  border-radius: 0.5rem;
  padding: 0.8rem;
  background: #000;
  transition: 0.2s;
  width: 10rem;
  margin: auto;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

button:hover {
  color: #000;
  transform: translate(-0.25rem, -0.25rem);
  background: #fff;
  box-shadow: 0.25rem 0.25rem #000;
}

button:active {
  transform: scale(1.1);
  box-shadow: none;
}

button:hover .btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 1rem;
}

button:hover p {
  display: none;
  transition: all 1s;
}

/* Mobile Responsive Design for Teblet */
@media (max-width: 1024px) {
}

/* Styles for regular-sized mobile devices */
@media (max-width: 768px) {
}

/* Styles for small-sized mobile devices */
@media (max-width: 480px) {
}
