* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  z-index: 1;
  width: 95%;
  flex-wrap: wrap;
  padding: 0.7rem;
  background: transparent;
  backdrop-filter: blur(12px);
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1rem;
}

.logo {
  width: 400px;
}
.logo h2 {
  cursor: pointer;
}

nav a {
  margin: 0 0.3rem;
  color: var(--color-yello);
}

.laptop-menu {
  display: inline-block;
}

.mobile-menu {
  display: none;
  margin: 0 0.3rem;
  background: var(--color-black);
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  transition: var(--transition-main);
}

/* Nav Responsive Design for Large Screen */
@media (min-width: 1025px) {
  nav {
    width: 100%;
    padding: 0.7rem 3%;
    filter: drop-shadow(5px 5px 10px #000);
    background: rgba(0, 0, 0, 0.801);
    width: 100%;
    border-radius: 0;
    top: 0;
    height: fit-content;
    color: var(--color-white);
  }
  nav a {
    margin: 0rem;
    color: var(--color-white);
    position: relative;
  }

  nav a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--color-yello);
    position: absolute;
    left: 0;
    bottom: 0px;
    transition: var(--transition-main);
  }

  nav a:hover::after {
    width: 100%;
  }
  nav a.active::after {
    width: 100%;
  }
}

/* Mobile Responsive Design for Tab and Large Screen */

@media (max-width: 1024px) and (min-width: 680px) {
  nav {
    width: max-content;
    flex-direction: column;
    transform: translateY(-50%);
    align-items: center;
    bottom: 0;
    right: 0.5rem;
    left: unset;
    z-index: 160;
  }
  nav a {
    margin: 0.5rem 0;
    color: var(--color-yello);
  }
}

/* Mobile Responsive Design for Teblet */
@media (max-width: 1024px) {
  .logo {
    display: none;
  }

  .laptop-menu {
    display: none;
  }
  .mobile-menu {
    display: block;
  }

  .mobile-menu:hover {
    background: var(--color-white);
    font-size: 1.5rem;
    transform: scale(1.2);
  }
  .mobile-menu.active {
    background: var(--color-white);
    font-size: 1.5rem;
    transform: scale(1.2);
  }
}

/* Styles for regular-sized mobile devices */
@media (max-width: 768px) {
  .laptop-menu {
    display: none;
  }

  .mobile-menu {
    display: inline-block;
  }
}

/* Styles for small-sized mobile devices */
@media (max-width: 480px) {
  .laptop-menu {
    display: none;
  }

  .mobile-menu {
    display: inline-block;
  }
}
